
/* universal selector */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
html root element deeper */
:root{

    /* creating variables to give flexibility to the layout creation */
    --body-background: #E5E5E5;
    --heading-background: #8E9AAF;
    --main-background: #EFF1FF;
    --heading-h1: #CBC0D3;

    --fs-heading: 4.0rem;

    --fs-span: 2rem;
    --ff-span: 'Palanquin', sans-serif;
    font-family: 'Staatliches', cursive;

    --max-width: 38.4rem;

    font-size: 62.5%;  /* font is now 10px */
}

body{
    /* calling the variable*/
    background: var(--body-background);
    font-size: 1.6rem;
    max-width: var(--max-width);
    margin: auto;
}

#container{
    margin: 0 auto;
}

main{
    background: var(--main-background);
    padding: 1.4rem 3.2rem 6.0rem 3.2rem;
    display: grid;
}

header{
    background: var(--heading-background);
    height: 29.9rem;
    text-align: center;
    padding-top: 3.2rem;
    font-size: var(--fs-heading);
}

header span{
    background: var(--heading-h1);
    padding: 0.8rem 8.6rem;

    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    display: inline-flex;
    width: 100%;
    text-align: center;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/*taking only the first span of main to make the adjustments */
main > span:nth-child(1){
    font-family: var(--ff-span);
    font-weight: 400;
    font-size: var(--fs-span);
    line-height: 1.9rem;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #23053A;

    margin: 1.4rem 0 6.0rem;
}
/* now the spans are relative to the cards */
.cards{
    max-width: 32.0rem;
    position: relative;
    margin-bottom: 3.2rem;
    animation: downtop 900ms 200ms;
}

.cards img{
    transition: 400ms 200ms;
    width: 100%;
    height: auto;
}
.cards img:hover{
    transform: scale(1.1);
    filter:saturate(1.3);    
    cursor: pointer;
}


main .cards span{
    /* adjusting the span within the image */
   
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.4rem;


    letter-spacing: 0.05em;

    color: #4A4E69;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: #FEEAFA;
    width: fit-content;
    padding: 0 2.0rem;
    position: absolute;
    top: 1.7rem;
    right: 2.9rem;
    border-radius: 20px;
    
    
    
    /* backwards is important when we apply the delay */
    animation:topdown 700ms 1s backwards;
}

/* disappearing desktop items on mobile*/
#p-block-none, #popsicle, #palette, footer{
    display: none;
}
@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateY(45px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* creating simple animations  */
@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-35px);
        
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width: 800px) {

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap');
    
  
    body{
        /*
            defining the container as grid
            A A = HEADER
            B = MAIN 
            C = footer
        */
        max-width: 1280px;
        display: grid;
        grid-template-areas:
        "A B"
        "A C";
        background: #fff;
    }
    header{
        max-width: 377px;
        height: 100vh;
        
        grid-area: A;
    }
    header span {
        padding: 1.5rem 0 1.5rem 7.6rem;
        font-family: 'Staatliches';
        font-style: normal;
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 3.4rem;
        color: #FFFFFF;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    }
    header p {
        font-family: 'Roboto', sans-serif;
        
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2rem;
        
        color: rgb(255, 255, 255);

        margin: 5rem 5rem 10rem 5rem;
    }
    
    main{
        grid-area: B;
        background: #FFF;
        grid-template-areas: 
        "A B E"
        "D B F"
        "D C F";
        margin: 0 auto;
        gap: 32px;
        margin-top: 6.0rem;
    }
    /* Putting each div in its place with the grid area*/
    #container main > div:nth-child(2){
        grid-area: A;
        max-width: 220px;
        margin-bottom: 0;
    }
    #container main > div:nth-child(3){
        grid-area: B;
        max-width: 220px;
        max-height: 350px;
        margin-bottom: 0; 
    }
    #container main > div:nth-child(4){
        grid-area: E;
        max-width: 220px;
        max-height: 350px;
        margin-bottom: 0; 
    }
    #container main > div:nth-child(5){
        grid-area: C;
        max-width: 220px;
        max-height: 350px;
        margin-bottom: 0; 
    }
    #container main > div:nth-child(6){
        grid-area: D;
        max-width: 220px;
        max-height: 350px;
        margin-bottom: 0;  
    }
    #container main > div:nth-child(7){
        grid-area: F;
        max-width: 220px;
        max-height: 350px;
        margin-bottom: 0; 
    }
    .cards img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    
    
    /* when the mouse is inside the card apply the effect on the span */
    #container main .cards:hover span{
        /* adjusting the span within the image*/
        
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 3.4rem;
        
        
        letter-spacing: 0.05em;
        
        color: #4A4E69;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        background: #FEEAFA;
        width: fit-content;
        padding: 0 2.0rem;
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        border-radius: 20px;
        
        
        
        /* backwards is important when we apply the delay */
        animation:topdown 200ms 500ms backwards;
    }
    footer {
        display: block;
        grid-area: C;
        text-align: center;
    }


    footer p {
        font-family: 'Open Sans', sans-serif; 
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.8rem;

        height: 100vh;
        color: #4A4E69;
    }

    footer p a{
        font-weight: bold;
        color: #4A4E69;
        text-decoration: none;
    }
    /*disappearing some items in width above 800*/
    #palette, #popsicle {
        display: none;
    }
    #p-block-none{
        display: block;
    }
    
    #container main span{
        display: none;
    }
    
    
}
@media (min-width: 1000px){
    
    
    main{
        grid-area: B;
        background: #FFF;
        grid-template-areas: 
        "A B E"
        "D B F"
        "D C F";
        margin: 0 auto;
        gap: 32px;
        margin-top: 6.0rem;
        
        
    }
    
    #palette, #popsicle {
        display: block;
    }
   
  
}






